*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../footer/assets/bg-1.jpg");
}
form{
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    width: 28%;
    height: fit-content;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(7px);
    box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.5);
}

form input{
    height: 2.5rem;
    width: 75%;
    padding: 0 0 0 0.5rem;
    border: 1px solid grey;
    border-radius: 5px;
}
form button{
    height: 2.5rem;
    width: 77%;
    padding: 0 0 0 0.5rem;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 1px #111111;
    cursor: pointer;
}
form p a{
    color: white;
    text-decoration: none;
}
form p a:hover{
    color: red;
}

/* Responsive code */

@media (min-width: 300px) and (max-width: 499px) {
    form{
        width: 85%;
    }
    form h3{
        font-size: 16px;
    }
    form input{
        width: 85%;
    }
    form button{
        width: 85%;
    }
}
@media (min-width: 500px) and (max-width: 850px) {
    form{
        width: 50%;
    }
}