*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../footer/assets/bg-1.jpg") no-repeat center center/cover;
}
.signup{
    height: fit-content;
    width: 30%;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(7px);
    box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.5);
}
h4{
    padding: 0.5rem 0 0 0;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
}
form input{
    width: 80%;
    height: 2rem;
    border-radius: 7px;
    border: 1px solid grey;
    padding: 5px 0 5px 10px;
}
form button{
    width: 83%;
    height: 2.8rem;
    border-radius: 7px;
    border: 1px soid grey;
    border-style: none;
    padding: 8px;
    box-shadow: 3px 3px 10px 1px #111111;
    font-size: 18px;
    cursor: pointer;
}
form button:hover{
    background: whitesmoke(255, 255, 255, 1);
    color: #000000;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 0.5rem;
    font-size: 19px;
}
.icons img{
    height: 30px;
}
.icons img:hover{
    filter: invert(0.3);
}
p{
    font-size: 19px;
}
p a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
p a:hover{
    color: blueviolet;
}

/* Responsive code */
@media (min-width: 300px) and (max-width: 499px) {
    .signup{
        width: 85%;
    }
    p{
        font-size: 16px;
    }
}
@media (min-width: 500px) and (max-width: 1000px) {
    .signup{
        width: 52%;
    }
}